<section class="container mt-3">
    <div class="card shadow p-3">
      <div class="row">
        <figure class="col-12 col-md-3">
          <img class="img-fluid" src="{{unUsuario?.image}}" alt="{{unUsuario?._id}}">
        </figure>
        <div class="col-12 col-md-9">
          <h2 class="pt-3 fw-bold">Nombre: {{unUsuario?.first_name}}</h2>
          <p class="pt-3 fw-bold">Apellidos: {{unUsuario?.last_name}}</p>
          <p class="pt-3 fw-bold">Email: {{unUsuario?.email}}</p>
          <p class="pt-3 fw-bold">Usuario: {{unUsuario?.username}}</p>
          <!--<app-botones [parent]="'vista'" [idUsuario]="unUsuario?._id"></app-botones>-->
        </div>
        
      </div>
    </div>
  </section>