<div class="d-flex gap-2 align-items-center">
    @if(parent === 'card'){
       <a class="col btn btn-secondary d-flex flex-column align-items-center border-0" [routerLink]="['/usuario', idUsuario]"><i class="fa-solid fa-circle-info"></i> Información</a>
    } @else if (parent === 'vista'){
        <a class="col btn btn-secondary d-flex flex-column align-items-center border-0" [routerLink]="['/usuarios', idUsuario]"><i class="fa-solid fa-arrow-rotate-left"></i> Volver</a>
    }
       <a  class="btn btn-warning" [routerLink]="['/update', 'usuario', idUsuario]"><i class="fa-solid fa-pen-to-square"></i> Actualizar</a>
       <button class="btn btn-danger" (click)="eliminarUsuario(idUsuario)"><i class="fa-solid fa-trash-can"></i> Eliminar</button> 
</div>
